name: Release Charts

on:
  push:
    branches:
      - master

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - uses: actions/setup-node@v6
        with:
          node-version: 16
      - run: node scripts/bumpVersion.js charts/kappes-space/Chart.yaml
        if: github.ref == 'refs/heads/master'
      - name: Commit version
        run: |
          git config --global user.name 'Leon Kappes'
          git config --global user.email 'leonkappes@users.noreply.github.com'
          git commit -am "Bump Chartversion"
          git push
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ github.token }}"